{% extends 'base.html' %}

{% block title %} New Password {% endblock %}

{% block content %}

<div class="w3-monospace " style="background-color:white;border-radius: 8px;">
    <div>
            <header class="w3-container" style="background-color:#333333;">
                    <h2 class="w3-monospace" style=color:white>Generate your new SECURE PASSWORD:</h2>
            </header>
            <form class="w3-container w3-card" method="post">

                    <p>
                    <input class="w3-radio" type="radio" name="type" value="alpanum" checked>
                    <label>Alphanumeric</label></p>

                    <p>
                    <input class="w3-radio" type="radio" name="type" value="num">
                    <label>Numeric</label></p>

                    <p>
                    <input class="w3-radio" type="radio" name="type" value="alpha">
                    <label>Alphabetic</label></p>

                    <br>

                    <label for="len">Length</label>
                    <input class="w3-input w3-right-align " type="text" style="width:135px" id="len" value="{{ request.form['len'] }}" name="len"><br>

                    <br>

                    <label>Service</label>
                    <input class="w3-input w3-right-align " type="text" style="width:135px" id="service"><br>

                    <br>

                    <input class="w3-check" type="checkbox" checked="checked" id="save">
                    <label>Save</label>

                    <br><br><br>

                    <button class="button button2" type="submit">Generate</button>

            </form>
    </div>

        <div class="w3-monospace ">

                {% if newpasswd %}
                <br>
                <h3 class="w3-monospace "><label>Your new password:</label></h3>

                <div class="alert-p">
                        {{newpasswd}}
                </div>
                <br>
                {% endif %}
        </div>

</div>
{% for message in get_flashed_messages() %}
        <div class="alert w3-monospace">{{ message }}</div>
{% endfor %}

{% endblock %}