{% extends 'base.html' %}

{% block title %} New Password {% endblock %}

{% block content %}

<div class="w3-monospace " style="background-color:white;border-radius: 8px;">
    <div>
            <header class="w3-container" style="background-color:#333333;">
                    <h2 class="w3-monospace" style=color:white>Generate your new SECURE PASSWORD:</h2>
            </header>
            <form class="w3-container w3-card" method="post">
                    <div>
                            <div style="float:left;">
                                     <p>
                                    <input onclick="enableRadioFunc()" class="w3-radio" type="radio" name="r1" id="alphanum" value="alphanum" checked>
                                    <label>Alphanumeric</label></p>

                                    <p>
                                    <input onclick="disableRadioFunc()"  class="w3-radio" type="radio" name="r1" id="num"  value="num">
                                    <label>Numeric</label></p>

                            </div>

                            <div style="float:left;margin-left:15px;">
                                    <p>
                                    <input class="w3-radio" type="radio" name="r2" value="ulc" id="ulc" checked>
                                    <label>Upper & Lower Cases</label></p>

                                    <p>
                                    <input class="w3-radio" type="radio" name="r2" value="uc" id="uc">
                                    <label>Only Upper Case</label></p>

                                    <p>
                                    <input class="w3-radio" type="radio" name="r2" value="lc" id="lc">
                                    <label>Only Lower Case</label></p>

                            </div>

                            <div  style="display:inline-block; margin: 15px;">
                                    <input class="w3-check" type="checkbox" checked="checked" name="symb" value="symb">
                                    <label>Symbols</label>
                            </div>

                    </div>

                    <div style="clear:both;"></div>

                    <div>

                            <br>

                            <label for="len">Length</label>
                            <input class="w3-input w3-right-align " type="text" min="6" max="20" style="width:135px" id="len" value="{{ request.form['len'] }}" name="len"><br>

                            <br>

                            <label>Service</label>
                            <input class="w3-input w3-right-align " type="text" style="width:135px" id="service" value="{{ request.form['service'] }}" name="service"><br>

                            <br>

                            <input class="w3-check" type="checkbox" checked="checked" name="check" value="save">
                            <label>Save</label>

                    </div>

                    <br><br><br>

                    <button class="button button2" type="submit">Generate</button>

            </form>
    </div>

        <div class="w3-monospace ">

                {% if newpasswd %}
                <br>
                 <h3 class="w3-monospace; " style="text-align:center;"><label>Your new password:</label></h3>

                <div class="alert-p">
                        {{newpasswd}}
                </div>
                <br>
                {% endif %}
        </div>

</div>
{% for message in get_flashed_messages() %}
        <div class="alert w3-monospace">{{ message }}</div>
{% endfor %}

<script>
        function disableRadioFunc() {
          document.getElementById("ulc").disabled = true;
          document.getElementById("lc").disabled = true;
          document.getElementById("uc").disabled = true;
        }

         function enableRadioFunc() {
          document.getElementById("ulc").disabled = false;
          document.getElementById("lc").disabled = false;
          document.getElementById("uc").disabled = false;
        }

</script>

{% endblock %}

