{% extends 'homepage_base.html' %}

{% block title %} New Password {% endblock %}

{% block content %}

  <div class="log-form">

    <h1 class="u-title">
      <span class="u-text-white" style="font-size: 85px">Create, store and</span>
      <span class="u-text-white" style="font-size: 85px"><br>manage <span class="u-text-palette-1-light-1" style="font-size: 85px">all your</span></span>
      <span class="u-text-palette-1-light-1" style="font-size: 85px"><br>passwords</span>
    </h1>

    <div>

      <div style="float:left; padding-right: 50px;">
        <p class="u-text-white" style="font-size: 25px";>As a <span style="font-weight: 700;" class="u-text-palette-1-light-1">Private User</span> you can:<br>
          <span class="u-text-palette-1-light-1">•</span> Create secure passwords<br>
          <span class="u-text-palette-1-light-1">•</span> Save all your passowrds<br>
          <span class="u-text-palette-1-light-1">•</span> List all your passwords
        </p>
      </div>

      <div style="float:left;">
        <p class="u-text-white" style="font-size: 25px">As an <span style="font-weight: 700;" class="u-text-palette-1-light-1">Agency</span> you can also:<br>
          <span class="u-text-palette-1-light-1">•</span> Create temporary passwords<br>
          <span class="u-text-palette-1-light-1">•</span> Use the <span style="font-style: italic;">Double Authentication Tool<br>
          <span class="u-text-palette-1-light-1">•</span> Allow users to create<span style="font-style: italic;">one-time-passwords</span><br>with the authorization of the whole group
        </p>
      </div>

    </div>

  </div>


{% endblock %}