{% extends 'base.html' %}

{% block title %} New Password {% endblock %}

{% block content %}

<div class="w3-monospace " style="background-color:white;border-radius: 8px;">

      <div>
            <header class="w3-container" style="background-color:#333333;">
                    <h2 class="w3-monospace" style=color:white>List all your passwords:</h2>
            </header>
            <form class="w3-container w3-card" method="post">



                    <button class="button button2" type="submit">List</button>

            </form>
    </div>

    <div class="w3-panel w3-red w3-display-container">
  <span onclick="this.parentElement.style.display='none'"
  class="w3-button w3-large w3-display-topright">&times;</span>
  <h3>Warning!</h3>
  <p>Clicking on "List" all your password will be shown in clear!</p>
</div>

  {% if pwlist %}

      <div class="w3-container ">
        <ul class="w3-ul w3-card-4 ">

      {% for pw, v in pwlist.items() %}
                <li class="w3-bar">
                  <span class=" w3-xlarge w3-right"><a onclick=""  class="fa fa-pencil  w3-xlarge"></a></span>

                            <div class="w3-bar-item">

                            {% if v == 'n' %}
                            <a class="fa fa-key  w3-xlarge"></a>
                            {% else %}
                            <a class="fa fa-clock-o w3-xlarge"></a>
                            {% endif %}
                           <span class="w3-large">Service :: </span>
                           <span class="w3-large">{{pw}}</span>
                      </div>
                </li>
      {% endfor %}
      </ul>
  </div>
  {% endif %}


</div>


{% endblock %}