{% extends 'base.html' %}

{% block title %} List Password {% endblock %}

{% block content %}

<script>
  document.getElementById("listpassword").style.backgroundColor = "#C5C5C5";
  document.getElementById("listpassword").style.color = "black";
</script>

  <div class="w3-monospace " style="background-color:white;border-radius: 8px;">

    <div>
      <header class="w3-container" style="background-color:#333333;">
        <h2 class="w3-monospace" style=color:white>List all your passwords:</h2>
      </header>
        <form class="w3-container w3-card" method="post">
          <button class="button button2" type="submit">List</button>
        </form>
    </div>
    
    <div class="w3-panel w3-red w3-display-container">
      <span onclick="this.parentElement.style.display='none'" class="w3-button w3-large w3-display-topright">&times;</span>
      <h3>Warning!</h3>
      <p>Clicking on "List" all your password will be shown in clear!</p>
    </div>

    {% if lista %}
      <div class="w3-container ">
        <ul class="w3-ul w3-card-4 ">
          {% for service, password in lista.items() %}
            <li class="w3-bar">
              <!-- <span class=" w3-xlarge w3-right"><a onclick=""  class="fa fa-pencil  w3-xlarge"></a></span> -->
              <div class="w3-bar-item ">
                <span class="w3-large " style="color: white;"><i class="fa fa-key  w3-xlarge" style="margin-right: 25px;"></i>{{service}}: </span>
                <span class="w3-large" style="color: white;">{{password}}</span>
              </div>
            </li>
          {% endfor %}
        </ul>
      </div>
    {% endif %}

  </div>
    
  {% for message in get_flashed_messages() %}
    <div class="alert w3-monospace">{{ message }}</div>
  {% endfor %}

{% endblock %}