{% extends 'base.html' %}

{% block title %} Auth Code {% endblock %}

{% block content %}

<script>
    document.getElementById("newdoublecode").style.backgroundColor = "#C5C5C5";
    document.getElementById("newdoublecode").style.color = "black";
</script>

<div class="w3-monospace " style="background-color:white;border-radius: 8px;">
    <div>
            <header class="w3-container" style="background-color:#333333;">
                    <h2 class="w3-monospace" style=color:white>Generate a new AUTHENTICATION CODE for Double Authentication:</h2>
            </header>
            <form class="w3-container w3-card" method="post">

                    <button class="button button2" type="submit">Generate</button>

            </form>
    </div>

        <div class="w3-monospace ">

                {% if newpasswd %}
                <br>
                <div style="margin-left:15px;">
                <h3 class="w3-monospace "><label>This is the code for the double authentication. Use it for the service which asked for it. <br>Remember that this code has a period of validity of 90 seconds.</label></h3>
                </div>
                <div class="alert-p">
                        {{newpasswd}}
                </div>
                <br>
                {% endif %}
        </div>

</div>
{% for message in get_flashed_messages() %}
        <div class="alert w3-monospace">{{ message }}</div>
{% endfor %}

{% endblock %}