{% extends 'base.html' %}

{% block title %} Save Password {% endblock %}

{% block content %}

<div class="w3-monospace " style="background-color:white;border-radius: 8px;">
    <div>
        <header class="w3-container" style="background-color:#333333;">
                <h2 class="w3-monospace" style=color:white>Save your PASSWORD or Modify an existing one:</h2>
        </header>
        <form class="w3-container w3-card" method="post">

            <div class="w3-panel w3-red w3-display-container">
                <span onclick="this.parentElement.style.display='none'"
                class="w3-button w3-large w3-display-topright">&times;</span>
                <h3>Warning!</h3>
                <p>The password will be shown in clear!</p>
            </div>

            <br>

            <div style="display:flex; align-items:center;">
                <div>
                    <label>Password</label>
                    <input type="password" class="w3-input w3-right-align " type="text" style="width:250px;" id="password" value="{{ request.form['password'] }}" name="password" required=""><br>
                </div>
                <button class="button button2" style="margin-left: 25px; height: fit-content;" name="submit" value="check">Safety Check</button>
            </div>

            <br>

            <label>Service</label>
            <input class="w3-input w3-right-align " type="text" style="width:250px; " id="service" value="{{ request.form['service'] }}" name="service" required="required"><br>

            <br>

            <button class="button button2" style="margin-bottom: 15px;" name="submit" value="save">Save</button>

        </form>
    </div>

        <div class="w3-monospace ">

            {% if newpasswd %}
            <br>
            <h3 class="w3-monospace "><label>Your new password:</label></h3>

            <div class="alert-p">
                    {{newpasswd}}
            </div>
            <br>
            {% endif %}
        </div>

</div>
{% for message in get_flashed_messages() %}
    <div class="alert w3-monospace">{{ message }}</div>
{% endfor %}



{% endblock %}

