{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} Ask for a new password {% endblock %}</h1>
    <form method="post">
        <label for="len">Length:</label>
        <br>
        <input type="text" name="len"
               placeholder="Length"
               value="{{ request.form['len'] }}">

        </input>
        <br>

        <br>
        <button class="button button2" type="submit">Submit</button>
    </form>

<div>{% if newpasswd %}
                {{newpasswd}}
            {% endif %}
</div>
{% endblock %}