{% extends 'base.html' %}

{% block title %} Request Manager {% endblock %}

{% block content %}

<script>
    document.getElementById("requestmanager").style.backgroundColor = "#C5C5C5";
    document.getElementById("requestmanager").style.color = "black";
</script>

  <div class="w3-monospace " style="background-color:white;border-radius: 8px;">

    <div>

      <header class="w3-container" style="background-color:#333333;">
        <h2 class="w3-monospace" style=color:white>Accept or Decline a Shared Password Request</h2>
      </header>

      <form id="info" method="post">
        <div id="myDIV" class="header w3-bar" style="text-align: center;">

          <h2>Enter all fields to Accept or Decline a request:</h2>

          <input type="text" style="height: 50px; border-radius: 5px; margin-right: 10px;" id="group_name" name="group_name" placeholder="Group Name ..." required="required">

          <input type="text" style="height: 50px; border-radius: 5px; margin-right: 10px;" id="email_applicant" name="email_applicant" placeholder="Email Applicant ..." required="required">

          <input type="text" style="height: 50px; border-radius: 5px; margin-right: 10px;" id="agency" name="agency" placeholder="Agency ..." required="required">

          <input type="text" style="height: 50px; border-radius: 5px;" id="token" name="token" placeholder="Token ..." required="required">

        </div>
        <div id="myDIV" class="header w3-bar" style="text-align: center; margin-top: 15px;">

          <button class="button button2" name="submit" value="accept">Accept</button>
          <button class="button button2" name="submit" value="decline">Decline</button>

        </div>
      </form>

    </div>
  </div>
    
  {% for message in get_flashed_messages() %}
    <div class="alert w3-monospace">{{ message }}</div>
  {% endfor %}

{% endblock %}